﻿@model Fixer_MVC.ViewModels.CurrencyRateViewModel

@{
    ViewData["Title"] = "Fixer MVC Lookup1";
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Base Currency: @Html.DisplayFor(modelItem => Model.BaseCurrency)
            <br />
            Target Currency: <input type="text" name="targetCurr" />
            <input type="submit" value="GetRates" class="btn btn-default" />
            <!--<a asp-action="Index">Try Again!</a>-->
        </p>
    </div>
</form>

@if ( !String.IsNullOrEmpty(Model.errorInfo)) 
{
<tr>
    @Html.DisplayFor(modelItem => Model.errorInfo)
</tr>
}
else {
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyRates[0].symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyRates[0].value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CurrencyRates)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
        </tr>
        }
    </tbody>
</table>
}

